<!-- This is how we get foundation up and running -->
<!-- What exactly is going on with these blocks -->

{% load static %}
<!doctype html>

<html class="no-js" lang="en" dir="ltr">
  
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>{{ title }}</title>
    <link rel="icon" href="static/images/reddit_logo3.png" type="image/icon type">

    <link rel="stylesheet" href="{%static "css/styles.css" %}">
    <link rel="stylesheet" href="{%static "css/foundation.css" %}">
    <link rel="stylesheet" href="{%static "css/app.css" %}">
	{% block css %}
	{% endblock %}
 
 </head>

 <body style="background-color: #cdcdcd" style="text-align:center">




<div class="top-bar">

    <div class="top-bar-left">
        <ul class="dropdown menu" data dropdown menu>
            <li> <a href='/'> Reddit</a> </li>
                <ul class="dropdown menu" data-dropdown-menu>
                    
                    <li> <a>Subreddits</a>
                        <ul class="menu">
                            <div id="app-5"> 
                                <div v-for="subreddit in subreddits">
                                    {% verbatim %}
                                        <li><a v-bind:href="'/r/'+ subreddit.title+'/'"> r/{{ subreddit.title }} </a></li>
                                    {% endverbatim %}
                                </div>
                            </div>
        
                        </ul>
                    </li>

                </ul>
                        
            <li> <a href="/create_subreddit/"> Create Subreddit </a></li>
                   
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li> <a>Chatrooms</a>
                            <ul class="menu">
                                <div id="app-6"> 
                                    <div v-for="room in chatrooms" >
                                        {% verbatim %}
                                            <li><a v-bind:href="'/chat/'+ room.name+'/'"> {{ room.name }} </a></li>
                                        {% endverbatim %}
                                    </div>
                                </div>
        
                            </ul>
                        </li>
                     </ul>

            <li> <a href="/createChat/"> Create Chatroom </a></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown menu" data dropdown menu>
            {% if user.is_authenticated %}

         <ul class="dropdown menu" data-dropdown-menu>
            <li> <a>{{ request.user.username }}</a>
                 <ul class="menu">
                 <li> <a> My Profile </a></li>
                 <li> <a href='/logout/'>Logout</a></li>

                 </ul>
            </li>
        </ul>

            {% endif %}

              {% if user.is_anonymous %}
              <li><a href='/login/' class='button'>Login</a></li>
              <li><a href='/register/' class='button'>Register</a></li>
             {% endif %}

        </ul>
    </div>
</div>



 	{% block content %}
 	{% endblock %}
 	
 	<script src="{%static "js/vendor/jquery.js" %}"></script>
    <script src="{%static "js/vendor/what-input.js" %}"></script>
    <script src="{%static "js/vendor/foundation.js" %}"></script>
    <script src="{%static "js/app.js" %}"></script>
    
    {% block scripts %}
	{% endblock %}
  
 </body>

 </html>