{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Comment</h3>
    <form action="/comment/{{ sugg_id }}/" method="post">
        {% csrf_token %}

        {{ form.errors }}
        <label>{{ form.comment.label_tag }}</label>
        {{ form.comment }}
        <input type="submit" class="button expanded" value="Add Comment" />
    </form>
  </div>
</div>
{% endblock %}