{% extends "base.html" %}
{% load static %}
{% block content %}



   
<div style="width:750px; margin: 0 auto; vertical-align: middle;">
    <div id="app-4"> 
        <span v-if="unseen">
            <div v-for="sugg in suggestions" >
                <div class="card-flex-article card">
                    <div class="card-section">



                    <div class="article-details">
                      {% verbatim %}
                        <a><span class="website">{{ sugg.subreddit }}</span> &#8226;</a>
                        <span class="time">{{ sugg.published_on }}</span> &#8226;
                        <a><span class="author">u/{{ sugg.author }}</span></a>
                      {% endverbatim %}
                    </div>



                    {% verbatim %}

                        <h3 class="article-title">{{ sugg.header }}</h3>
                        <p class="article-summary">{{ sugg.suggestion }}</p>
                        <img v-bind:src="sugg.image" v-bind:alt="sugg.image_description" width="750" height="100"></img>

                   
                        <video width="717" height="350" controls>
                             <source v-bind:src="sugg.video" v-bind:alt="sugg.video_description" type="video/mp4">
                        </video>

                    {% endverbatim %}

                    <div>
                        {% verbatim %}
                            <a v-bind:href="'/comment/'+ sugg.id+'/'" class="button">comment</a>
                        {% endverbatim %}
                    </div>

                    <div>
                        <a v-bind:href="'/upvote/'+ sugg.id+'/'" class="button">Click to upvote!</a>
                        <a v-bind:href="'/downvote/'+ sugg.id+'/'" class="button">Click to downvote!</a>

                        {% verbatim %}
                            <p> Likes: {{ sugg.upvote_count }} </p> 
                            <p> Dislikes: {{ sugg.downvote_count }} </p> 
                        {% endverbatim %}
                    </div>
                    
                   
                        <a v-bind:href="'/post/'+ sugg.id+'/'">Comments</a>

                    </div>
                 </div>
            </div>
        </span> 
    </div>
</div>
   

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}

