{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="grid-x grid-padding-x" style="width:1000px; margin: 0 auto; vertical-align: middle;">
    <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">
        <div id="app-4" > 
            <span v-if="unseen">
                 <div v-for="sugg in suggestions" >
                    <div class="card-info info">
                        <div class="card-section">

                            <div class="article-details">
                            {% verbatim %}
                            <a v-bind:href="'/r/'+ sugg.subreddit+'/'"><span class="website">r/{{ sugg.subreddit }}</span> &#8226;</a>
                            <span class="time">{{ sugg.published_on }}</span> &#8226;
                            <a><span class="author">u/{{ sugg.author }}</span></a>
                            {% endverbatim %}
                            </div>

                            {% verbatim %}

                            <h3 class="article-title">{{ sugg.header }}</h3>
                            <p class="article-summary">{{ sugg.suggestion }}</p>
                            <img v-bind:src="sugg.image" onerror="this.style.display='none'" width="750" height="100"></img>
                            <video width="717" height="350" controls v-bind:src="sugg.video" onerror="this.style.display='none'" type="video/mp4"></video>

                            {% endverbatim %}

                            <div>
                            <a v-bind:href="'/upvote/'+ sugg.id+'/'" class="button">Click to upvote!</a>
                            <a v-bind:href="'/downvote/'+ sugg.id+'/'" class="button">Click to downvote!</a>

                            {% verbatim %}
                                <p> Likes: {{ sugg.upvote_count }} </p> 
                                <p> Dislikes: {{ sugg.downvote_count }} </p> 
                            {% endverbatim %}
                            </div>
                    
                             {% verbatim %}
                                <a v-bind:href="'/post/'+ sugg.id+'/'">Comments ({{sugg.comment_count}})</a>
                             {% endverbatim %}

                        </div>
                    </div>
                </div>
            </span> 
        </div>
    </div>
</div>


   
{% endblock %}
{% block scripts %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}

