{% extends "base.html" %}
{% load static %}
{% block content %}


<a id= "curPost" hidden><span class="website" hidden>r/{{sugg_id}}</span> &#8226;</a>

<div class="grid-x grid-padding-x" style="width:1000px; margin: 0 auto; vertical-align: middle;">
    <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">
	    <div id="app-8"> 
            <div v-for="sugg in suggestions" >
                <div class="card-info info">
                    <div class="card-section">
                
				    <div class="article-details">
                                {% verbatim %}
                                <a v-bind:href="'/r/'+ sugg.subreddit+'/'"><span class="website">r/{{ sugg.subreddit }}</span> &#8226;</a>
                                <span class="time">{{ sugg.published_on }}</span> &#8226;
                                <a><span class="author">u/{{ sugg.author }}</span></a>
                                {% endverbatim %}
                            </div>

                            {% verbatim %}

                                <h3 class="article-title">{{ sugg.header }}</h3>
                                <p class="article-summary">{{ sugg.suggestion }}</p>
                                <img v-bind:src="sugg.image" onerror="this.style.display='none'" width="750" height="100"></img>
                                <video width="717" height="350" controls v-bind:src="sugg.video" onerror="this.style.display='none'" type="video/mp4"></video>

                            {% endverbatim %}

                            <div>
                                <a v-bind:href="'/upvote/'+ sugg.id+'/'" class="button">Click to upvote!</a>
                                <a v-bind:href="'/downvote/'+ sugg.id+'/'" class="button">Click to downvote!</a>

                                {% verbatim %}
                                    <p> Likes: {{ sugg.upvote_count }} </p> 
                                    <p> Dislikes: {{ sugg.downvote_count }} </p> 
                                {% endverbatim %}
                            </div>
                

                    <form action="/post/{{sugg_id}}/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="button expanded" value="Add Comment" />
                    </form>

                    <!-- {% for comm in comment_list %}
                    <div class="comment-section-author">
  
                        <div class="comment-section-author">
                            <img src="https://placehold.it/50x50" alt="">
                            <div class="comment-section-name">
                                <h5><a href="">Janice Jones</a></h5>
                                <p>March 12, 2017 at 1:28pm</p>
                            </div>
                            </div>
                            <div class="comment-section-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.</p>
                            </div>
                    </div>

                     {% endfor %} -->

     				   <div v-for="comm in sugg.comments">

                            {% verbatim %}
     				           <div class="article-details">
               			          <a><span class="author">{{ comm.author }}</span></a> &#8226;
                                  <span class="time"> {{ comm.published_on }}</span> 
                                </div>
                                <h3 class="lead">{{ comm.comment }}</h3>
                            {% endverbatim %}
                            
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}

<script>
function refreshPage(){
    window.location.reload();
} 
</script>