{% extends "base.html" %}

<!-- This is the HTML physical view of my form -->

{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Post</h3>
    <form action="/suggestion/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button expanded" value="Create Post" />
    </form>
  </div>
</div>
{% endblock %}


class SuggestionForm(forms.Form):
    suggestion = forms.CharField(label='Post', max_length=1000) # label shows up on actual form
    image = forms.ImageField(label = 'Image File')
    image_description = forms.CharField(label = 'Image Description', max_length = 100)

    def save(self, request, commit=True):
        new_sugg = models.Suggestion(
            suggestion = self.cleaned_data["suggestion"],
            image = self.cleaned_data["image"],
            image_description = self.cleaned_data["image_description"],
            author = request.user
            )

        if commit:
            new_sugg.save()
        return new_sugg
