{% extends "base.html" %}

<!-- This is the HTML physical view of my form -->

{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Post</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button expanded" value="Create Post" />
    </form>
  </div>
</div>
{% endblock %}