{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- This is the HTML physical view of my form -->

<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Post</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button expanded" value="Create Post" />
    </form>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}