{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <p style="text-align: center;">Please log into view content.</p>
    <h4 class="text-center">Login</h4>
    <form action="/login/" method="post">

        {% csrf_token %}

        {{ form.errors }}
        <label>{{ form.username.label_tag }}</label>
        {{ form.username }}
        <label>{{ form.password.label_tag }}</label>
        {{ form.password }}
        <input type="submit" class="button expanded" value="Login" />

        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </form>
    
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}